<nav>
  <div class="header">
    <div class="header-item">
      <a href="/inbox">
        <img class="header-img" src="/logo_gmail_lockup.png" alt="Gmail logo" />
      </a>
    </div>
    <div class="header-item">
      <h4><%- user.fullname %></h4>
      <button class="sign-out" type="submit" value="sign-out">
        <a href="/">Sign out</a>
      </button>
    </div>
  </div>
</nav>
