<div class="menu">
  <ul>
    <li class="menu-item">
      <a href="/compose">Compose</a>
    </li>

    <li class="menu-item">
      <a href="/inbox">Inbox</a>
    </li>
    <li class="menu-item">
      <a href="/outbox">Outbox</a>
    </li>
    <li></li>
    <li></li>
  </ul>
</div>
