<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
        height: 100vh;
      }
      .message {
        height: 300px;
        width: 420px;
        text-align: center;
        background-color: #fff;
      }
      .sign-in {
        background-color: #1dbfaf;
        border-radius: 4px;
        border: 1px solid #1dbfaf;
        text-align: center;
        width: 100px;
        height: 30px;
        padding: 8px auto 10px;
        margin: 20px;
        cursor: pointer;
      }
      .sign-in a {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="message">
        <h1>Welcome to my website</h1>
        <h4>Please sign in to discover this website</h4>
        <button class="sign-in" type="submit" value="sign-in">
          <a href="/">Sign in</a>
        </button>
      </div>
    </div>
  </body>
</html>
